[
  {
    title: 'onejames'
    group: 'Atom'
    paths: [
      '/path/to/project-manager'
    ]
    devMode: true
    settings:
      'editor.tabLength': 3
      'editor.showInvisibles': true
  }
]
