.title {
  width: 100%;
  margin: 2px;
  font-size: 3em;
}

.has-text-centered {
  text-align: center;
}

body {
  height: 100%;
  background-image: linear-gradient(#ffffff, #82c8ff);
  background-attachment: fixed;
  margin: auto;
  text-align: center;
}

.sexyLine {
  margin: 25px 0;
  height: 1px;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}

.footerSpace {
  padding-bottom: 30px;
}
